@import 'variables';
@import 'mixins';

.page-title {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    height: 20px;
    width: 200px;
    background: url('/assets/imgs/home/white-pattern.svg') left/contain repeat-x;
  }
}

.page-description {
  font-size: $font-size-s;
}

.schedule {
  &-container {
    width: 1000px;
    max-width: calc(100% - #{$space});
    background: $white;
    box-shadow: 8px 8px $black;
    padding-top: $space-l;
    padding-bottom: $space-l;
    position: relative;

    &+& {
      margin-top: $space-xl;
    }
  }

  &-item {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: $space-s;
    padding: $space-s $space;

    h5 {
      font-weight: 600;
    }

    h6 {
      font-style: italic;
    }

    @include mobile {
      grid-template-columns: initial;
    }
  }

  &-title {
    font-size: $font-size-l;
    font-weight: bold;
    padding-left: $space;
  }

  &-main {
    margin-top: -$header-h;
    padding-top: $space-l + $header-h;
    background: $yellow;
    padding-bottom: 200px + $space-l;
    margin-bottom: -200px;
  }

  &-talk {
    padding-right: 70px;
    position: relative;

    &:before {
      @include one-height(20px, 4px);

      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      text-align: center;
      border: 2px solid $black;
      font-size: $font-size-xs;
      letter-spacing: 1px;
      font-weight: bold;
      color: $white;
    }

    // &:last-child:before {
    //   content: 'HALL B';
    //   background: $blue;
    // }

    &:first-child:before {
      content: 'JC 1';
      background: $red;
    }

    &:nth-child(2):before {
      content: 'JC 3';
      background: $blue;
    }

    &:nth-child(3):before {
      content: 'LT 7';
      background: #eb9a06;
    }

    &:nth-child(4):before {
      content: 'LT 8';
      background: #1aab09;
    }

    &-mamak {
      &:before {
        content: 'Gallery' !important;
        background: $black !important;
      }
    }

    @include mobile {
      padding-right: 0;
      padding-bottom: 30px;

      &:before {
        top: auto;
        right: auto;
        left: 0;
        bottom: 5px;
      }
    }
  }
}

.food {
  position: relative;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  background: none;
  box-shadow: none;

  &-section {
    height: 120px;
    // margin: -100px 0 $space-l;
    overflow: hidden;
  }

  picture {
    img {
      height: 120px;
      position: absolute;
      top: 0;
    }

    &:first-child img {
      left: -60px;
      transform: rotate(15deg);
    }

    &:nth-child(2) img {
      left: 0;
      transform: rotate(-15deg);
    }

    &:nth-child(3) img {
      right: 0;
    }

    &:last-child img {
      right: -60px;
    }
  }
}