<main class="main schedule-main">
  <article class="container">
    <my-header [title]="title">
      <p>
        (time is subject to change)
      </p>
    </my-header>
  </article>
  <!-- day 1 -->
  <section class="container schedule-container">
    <h2 class="schedule-title">Day 1</h2>
    <ng-container [ngTemplateOutlet]="schedule" [ngTemplateOutletContext]="{day:day1}">
    </ng-container>
  </section>
  <div class="food-section">
    <div class="food container">
      <picture>
        <source srcset="../../../assets/imgs/home/tehtarik.webp" type='image/webp'>
        <img src="../../../assets/imgs/home/tehtarik.png" alt="mamak">
      </picture>
      <picture>
        <source srcset="../../../assets/imgs/home/aiskacang.webp" type='image/webp'>
        <img src="../../../assets/imgs/home/aiskacang.png" alt="mamak">
      </picture>
      <picture>
        <source srcset="../../../assets/imgs/home/nasilemak.webp" type='image/webp'>
        <img src="../../../assets/imgs/home/nasilemak.png" alt="mamak">
      </picture>
      <picture>
        <source srcset="../../../assets/imgs/home/tehaislimau.webp" type='image/webp'>
        <img src="../../../assets/imgs/home/tehaislimau.png" alt="mamak">
      </picture>
    </div>
  </div>
  <!-- day 2 -->
  <section class="container schedule-container">
    <h2 class="schedule-title">Day 2</h2>
    <ng-container [ngTemplateOutlet]="schedule" [ngTemplateOutletContext]="{day:day2}">
    </ng-container>
  </section>
  <my-modal [item]="selectedItem" (unselect)="unselectSession()"></my-modal>
</main>

<!-- template -->
<ng-template let-day="day" #schedule>
  <div class="schedule-item" *ngFor="let s of day">
    <div class="schedule-item-time">
      {{ s.time }}
    </div>
    <div class="schedule-item-list">
      <ng-container *ngFor="let i of s.items">
        <div (click)="selectSession(i.session)" [class.schedule-talk]="i.speakers?.length" [class.schedule-talk-mamak]="i.title.startsWith('Mamak')">
          <h5>{{i.title}}
            <a class="icon-right" *ngIf="i.hasSessionInfo" title="Session info">
              <!-- <i class="fas fa-info-circle"></i> -->
              <span class="icon-info-circle"></span>
            </a>
          </h5>
          <h6 *ngIf="i.speakers">{{i.speakers.join(", ")}}</h6>
        </div>

      </ng-container>
    </div>
  </div>
</ng-template>