.btn {
  @include one-height($btn-h, 2px);

  display: inline-block;
  border: 0;
  background: none;
  padding: 0 $space;
  color: $font-color-root;
  font-size: $font-size-s;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  position: relative;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  transition: color 0.2s ease, box-shadow 0.1s ease, transform 0.1s ease;
  -webkit-appearance: none;

  @include mobile {
    @include one-height($btn-mobile-h, 2px);
  }

  &:disabled,
  &[disabled] {
    opacity: 0.7;
  }

  @include btn-active {
    outline: none;

    .btn-inner {
      color: $white;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    height: 100%;
    background: transparentize($black, 0.7);
    transform: skewX(-30deg) scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease;
    pointer-events: none;
    will-change: transform;
  }

  @include btn-active {
    &:before {
      transform-origin: left;
      transform: skewX(-30deg) scaleX(1);
    }
  }

  &-inner {
    position: relative;
    z-index: 1;
  }

  &-primary,
  &-secondary,
  &-yellow {
    box-shadow: 4px 4px $black;

    @include btn-focus {
      box-shadow: 2px 2px $black;
      transform: translateY(2px);
    }
  }

  &-primary {
    color: $white;
    background-color: $red;
  }

  &-secondary {
    color: $white;
    background-color: $blue;
  }

  &-yellow {
    background-color: $yellow;
  }
}