<my-header></my-header>
<main class="main">
    <article class="container">
        <div class="page-header">
            <h1 class="page-title">{{ title | uppercase }}</h1>
            <div class="page-description article-section">
                <p>
                    (Schedule and time is subject to changed.)
                </p>
            </div>
        </div>
    </article>
    <section class="schedule-container">
        <h2>Day 1</h2>
        <div class="schedule-item" *ngFor="let s of day1">
            <div>
                {{ s.time }}
            </div>
            <div>
                <div *ngFor="let i of s.items">
                    <h5>{{i.title}}</h5>
                    <h6 *ngIf="i.speakers">{{i.speakers.join(", ")}}</h6>
                </div>
            </div>
        </div>
    </section>
    <section class="schedule-container">
        <h2>Day 2</h2>
        <div class="schedule-item" *ngFor="let s of day2">
            <div>
                {{ s.time }}
            </div>
            <div>
                <div *ngFor="let i of s.items">
                    <h5>{{i.title}}</h5>
                    <h6 *ngIf="i.speakers">{{i.speakers.join(", ")}}</h6>
                </div>
            </div>
        </div>
    </section>
</main>
<my-footer></my-footer>