<header class="header" [class.header-nav--open]="isShowMobileNav">
  <div class="header-bar">
    <div class="container header-container">
      <a routerLink="/" class="header-logo">
        <img src="../../../assets/imgs/logo.svg" alt="" class="header-logo-img">
        NG-MY
      </a>
      <button class="header-nav-toggle" (click)="toggleMobileNav()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item" *ngFor="let n of navList">
            <a [routerLink]="n.link" class="header-nav-link">{{ n.name }}</a>
          </li>
        </ul>
        <ul class="header-social">
          <li class="header-social-item" *ngFor="let s of socialMediaList">
            <a target="_blank" rel="noopener noreferer" [href]="s.url" class="header-social-link">
              <i class="fab fa-{{ s.icon }}"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>