@import 'variables';
@import 'mixins';

.header {
  height: $header-h;
  position: relative;
  z-index: $header-z;
  font-family: $font-family-sans;

  &-logo {
    display: flex;
    align-items: center;
    font-size: $font-size-s;
    font-weight: $font-weight-l;
    letter-spacing: 1px;
    margin-right: auto;
    color: $font-color-root;

    &-img {
      height: 40px;
      width: 40px;
      margin-right: $space-s;
      position: relative;
      z-index: $header-z + 1;
    }
  }

  &-bar {
    @include one-height($header-h, $nowrap: false);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      background: $white;
      opacity: var(--hero-scroll);
      pointer-events: none;
      z-index: 0;
    }

    .container {
      display: flex;
      position: relative;
      z-index: 1;
    }
  }

  &-nav {
    display: flex;

    &-list {
      display: flex;
    }

    &-item {
      &+& {
        margin-left: $space;
      }
    }

    &-link {
      display: block;
      text-transform: uppercase;
      font-size: $font-size-s;
      font-weight: bold;
      letter-spacing: 1px;
      transition: color 0.2s ease;
      color: $black;

      @include btn-active {
        color: $red;
      }
    }

    &-toggle {
      width: $header-h;
      height: $header-h;
      background: none;
      border: 0;
      padding: 0 20px;
      position: relative;
      z-index: $header-z + 1;
      transition: transform 0.4s ease 0.2s;
      display: none;

      &:before {
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10px;
        left: 10px;
        background: $white;
        border-radius: 50%;
        opacity: 0;
        box-shadow: none;
        transition: opacity 0.2s ease 0.3s, box-shadow 0.1s ease 0.1s;
      }

      span {
        display: block;
        height: 3px;
        width: 20px;
        background: $gray-darkest;
        transition: transform 0.2s ease 0.2s;
        position: relative;
        z-index: 1;

        &+span {
          margin-top: 3px;
        }
      }

      @include btn-focus {
        outline: none;
      }
    }

    @include tablet {
      margin: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      z-index: $header-z;
      overflow: hidden;
      background: $white;
      opacity: 0;
      transition: opacity 0.2s ease 0.3s;
      pointer-events: none;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: $red-dark;
        height: 100%;
        width: 100%;
        transform-origin: left bottom;
        transform: translateX(100%);
        transition: transform 0.2s ease 0.2s;
        box-shadow: inset 8px 0 $black;
      }

      &-list {
        margin: auto;
        margin-left: 25%;
        flex-direction: column;
        position: relative;
        z-index: 1;
      }

      &-item {
        @include one-height($btn-h);

        transform: translateX(#{$space});
        opacity: 0;

        transition: {
          property: transform, opacity;
          duration: 0.2s;
          timing-function: ease;
        }

        &+& {
          margin-left: 0;
          margin-top: $space;
        }

        @for $n from 1 through $nav-item-count {
          &:nth-child(#{$n}) {
            padding-left: $space-s + 13 * ($nav-item-count - $n);
          }

          &:nth-child(#{$nav-item-count - $n}) {
            transition-delay: 0.05s * ($n - 1);
          }
        }
      }

      &-link {
        color: $white;

        @include btn-active {
          color: $white;
        }
      }

      &-toggle {
        display: block;
      }

      @at-root .header.--open {
        .header-nav {
          opacity: 1;
          pointer-events: auto;
          transition-delay: 0s;

          &:before {
            transform: skewX(-10deg) translateX(0);
            transition-delay: 0.1s;
          }

          &-item {
            transform: none;
            opacity: 1;

            @for $n from 1 through $nav-item-count {
              &:nth-child(#{$n}) {
                transition-delay: 0.2s + 0.035s * ($n - 1);
              }
            }
          }

          &-toggle {
            transform: rotate(225deg) scale(0.9);
            transition-delay: 0s;

            &:before {
              opacity: 1;
              transition: opacity 0.2s ease, box-shadow 0.2s ease 0.1s;
              box-shadow: -2px -4px 8px rgba(0, 0, 0, 0.3);
            }

            span {
              transition-delay: 0s;

              &:first-child {
                transform: rotate(90deg) translateX(6px);
              }

              &:last-child {
                transform: scaleX(0);
              }
            }
          }
        }
      }
    }
  }



  &-social {
    display: none;
    padding: 0 $space-s;


    &-item {
      &+& {
        margin-left: $space-s;
      }
    }

    &-link {
      display: block;
      padding: 0 $space-s;

      @include btn-active {
        color: $red-dark;
      }
    }

    @include tablet {
      display: flex;
      position: absolute;
      bottom: $space-s;
      right: $space;


      &-link {
        color: $white;

        @include btn-active {
          color: $white;
        }
      }

      &-item {
        opacity: 0;
        transform: translateX(10px);
        transition: opacity 0.2s ease, transform 0.2s ease;

        &+& {
          margin-left: $space;
        }

        @at-root .--open & {
          opacity: 1;
          transform: none;

          @for $n from 1 through $nav-social-count {
            &:nth-child(#{$n}) {
              transition-delay: 0.2s + 0.025s * ($n - 1) + 0.01s * ($n - 1);
            }
          }
        }
      }
    }
  }
}