<header class="header" [class.header-nav--open]="isShowMobileNav">
  <div class="header-bar">
    <div class="container header-container">
      <a routerLink="/" class="header-logo">
        <img src="../../../assets/imgs/logo.svg" alt="" class="header-logo-img">
        NG-MY
      </a>
      <button class="header-nav-toggle" (click)="toggleMobileNav()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <!-- <li class="header-nav-item">
            <a routerLink="/logo" class="header-nav-link">Logo</a>
          </li>
          <li class="header-nav-item">
            <a routerLink="/speakers" class="header-nav-link">Speakers</a>
          </li>
          <li class="header-nav-item">
            <a routerLink="/schedule" class="header-nav-link">Schedule</a>
          </li> -->
          <li class="header-nav-item">
            <a routerLink="/team" class="header-nav-link">Team</a>
          </li>
        </ul>
        <ul class="header-social">
          <li class="header-social-item">
            <a href="https://twitter.com/ngmyconf" class="header-social-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="header-social-item">
            <a href="https://www.facebook.com/ngmyconf/" class="header-social-link">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="header-social-item">
            <a href="https://www.instagram.com/ngmyconf/" class="header-social-link">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="header-social-item">
            <a href="https://www.linkedin.com/company/ngmyconf/" class="header-social-link">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>