@import 'variables';
@import 'mixins';

.hero {
  height: calc(100vh - #{$header-h});
  min-height: 600px;
  padding-bottom: $space-xl;
  position: relative;
  display: flex;

  .container {
    display: flex;
    margin: auto;
  }

  @include mobile {
    padding-bottom: $space;
  }

  &-btns {
    display: flex;
    justify-content: center;
    margin-top: $space;

    .btn+.btn {
      margin-left: $space;
    }

    @include mobile {
      flex-direction: column;

      .btn+.btn {
        margin-top: $space;
        margin-left: 0;
      }
    }
  }

  &-misc-item {
    a {
      color: initial;
    }
  }

  &-content {
    margin: auto 0;
    width: 100%;
    padding-bottom: $space;
    text-align: center;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle at center, $white, transparent);
      opacity: calc(1 - 1 * var(--hero-scroll));
    }
  }

  &-text {
    margin: auto;
    max-width: 800px;
    position: relative;
    z-index: 1;

    p+p {
      margin-top: $space;

      @include mobile {
        margin-top: $space-s;
      }
    }

    .btn {
      flex-grow: 0;
    }

    @include mobile {
      text-align: center;
    }
  }

  &-title {
    font-weight: bold;
    font-size: $font-size-xxxl;
    font-family: $font-family-sans;

    @include mobile {
      font-size: $font-size-xxl;
    }
  }

  &-subtitle {
    font-size: $font-size-l;
    letter-spacing: 0.3px;

    @include mobile {
      font-size: 1rem;
    }
  }

  &-misc {
    margin-top: $space-s;
    margin-bottom: $space-s;
    display: flex;
    font-weight: bold;
    justify-content: center;
    font-family: $font-family-sans;

    &-item {
      &+& {
        margin-left: $space;
      }
    }

    &-sale {
      display: flex;
      align-items: center;
    }

    @include mobile {
      flex-direction: column;

      &-item {
        &+& {
          margin-left: 0;
        }
      }

      &-sale {
        flex-direction: column;
      }
    }
  }

  &-scroll {
    border: 0;
    background: none;
    padding: 0;
    position: absolute;
    left: calc(50% - 12px);
    bottom: 30px;
    width: 24px;
    height: 24px;
    transform: translateY(-10px);
    animation: bounce 1s cubic-bezier(0.43, 0.2, 0.31, 1.12) infinite;
    cursor: pointer;
    will-change: transform;

    &:focus {
      outline: none;
    }

    &:before,
    &:after {
      content: '';

      border: {
        width: 12px 8px;
        style: solid;
        color: transparent;
      }

      position: absolute;
    }

    &:before {
      border-top-color: $red;
      left: calc(50% - 8px);
      top: calc(50% - 3px);
      z-index: 1;
    }

    &:after {
      border-top-color: $black;
      left: calc(50% - 6px);
      top: 50%;
    }

    @include mobile {
      display: none;
    }
  }

  &-deco {
    overflow: hidden;
    padding-top: 32vw;
    margin-top: -16vw;
    pointer-events: none;

    &-teh {
      position: absolute;
      right: 0;
      top: 0;
      height: 32vw;
      z-index: 1;
    }

    &:before {
      top: 16vw;
      transform-origin: top left;
      transform: skewY(5deg);
      background: $white;
      box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

.home-section-title {
  font-size: $font-size-xxl;
  font-family: $font-family-sans;
  font-weight: bold;
  margin-bottom: $space-l;

  @include mobile {
    font-size: $font-size-xl;
    margin-bottom: $space;
  }

  &.--decorated {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: calc(50% - 100px);
      height: 20px;
      width: 200px;
      background: url('/assets/imgs/home/white-pattern.svg') left/contain repeat-x;
    }
  }
}

.main {
  background: $white;
  position: relative;
  z-index: 1;

  &-bg {
    position: fixed;
    top: 0;
    left: 0;
    background: url('/assets/imgs/home/hero-bg.jpg') center/cover no-repeat;
    width: 100%;
    height: 100%;
    opacity: calc(0.3 + 0.4 * var(--hero-scroll));
  }
}

.stats {
  .container {
    position: relative;
    z-index: 1;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: $space;
    padding: $space 3.5vw;

    &:before {
      content: '';
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    &.--show {
      .stats-item {
        box-shadow: 8px 8px $black;

        &:before {
          transform: skewX(-10deg) scaleX(1);
        }
      }
    }
  }

  &-item {
    text-align: center;
    color: $white;
    box-shadow: 0px 0px $black;
    font-family: $font-family-sans;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.4s ease;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% + 50px);
      height: 100%;
      background: $red;
      z-index: 0;
      pointer-events: none;
      transform: skewX(-10deg) scaleX(0);
      transform-origin: top left;
      transition: transform 0.4s cubic-bezier(0, 0.66, 0.46, 0.99);
      will-change: transform;
    }

    &:first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    $n: 0;

    @for $i from 1 through 2 {
      @for $j from 1 through 2 {
        $n: $n + 1;
        $delay: ($i + $j - 2) * 0.15s;

        &:nth-child(#{$n}) {
          transition-delay: $delay + 0.2s;

          &:before {
            transition-delay: $delay;
          }
        }
      }
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $space 0;

    @include mobile {
      margin-top: $space;
    }
  }

  &-number,
  &-metrics {
    position: relative;
    z-index: 1;
  }

  &-number {
    font-size: 2.3vmax;
  }

  &-metrics {
    font-size: 1.25vmax;
  }

  @include mobile {

    &-number {
      font-size: 4.6vmax;
    }

    &-metrics {
      font-size: 2.5vmax;
    }
  }
}

.mailing {
  margin-top: $space-l;

  &-section {
    background: $gray-lightest;
    padding: $space-l 0;
    position: relative;
    z-index: 2;
    color: $black;
    font-family: $font-family-sans;
    text-align: center;
  }

  &-label {
    font-size: $font-size-xl;
  }

  &-deco {
    &:before {
      background: $gray-lightest;
      top: 0;
      left: 0;
    }

    &-up:before {
      transform-origin: top right;
      transform: skewY(-5deg);
    }

    &-down {
      background: $yellow;

      &:before {
        transform-origin: bottom right;
        transform: skewY(5deg);
      }
    }
  }
}

.speakers {

  &-section {
    background: $yellow;
    padding: $space 0 $space-xxl;

    .home-section-title {
      text-align: center;
    }

    @include mobile {
      padding-bottom: $space-l;
    }
  }

  &-more {
    text-align: center;
    margin-top: $space-l;
  }

  &-carousel {
    padding-bottom: $space-s;
  }

  &-card {
    display: flex;
    max-width: 800px;
    margin: auto;
    padding: $space-l;

    @include mobile {
      flex-direction: column;
      padding: $space;
    }
  }

  &-profile {
    flex: 0 0 200px;
    width: 200px;
    text-align: center;
    margin: auto;

    &-img {
      border-radius: 50%;
      width: 90%;
      margin: $space auto;
      border: 4px solid $black;
    }

    &-pic {
      position: relative;
    }

    &-food {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100px;
      z-index: 1;
    }
  }

  &-name {
    margin-bottom: $space-s;
    font-family: $font-family-sans;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &-title {
    margin-bottom: $space;
    font-family: $font-family-sans;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &-links {
    display: flex;
    justify-content: center;

    &-item {
      &+& {
        margin-left: $space-s;
      }
    }

    &-url {
      @include one-height(40px);

      display: block;
      padding: 0 $space-xs;
      font-size: $font-size-l;
      color: $black;

      @include btn-active {
        color: $red;
      }
    }
  }

  &-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $space;

    @include mobile {
      text-align: center;
    }
  }

  &-deco {
    background: $gray-lightest;

    &:before {
      top: 0;
      left: 0;
      background: $yellow;
      transform-origin: bottom left;
      transform: skewY(-5deg);
    }
  }
}

.sessions {
  background: $gray-lightest;
  padding: $space-xxl 0;
  text-align: center;
  overflow: hidden;

  .container {
    position: relative;
  }

  &-text {
    max-width: 800px;
    margin: 0 auto $space-l;
  }

  &-deco {
    background: $yellow;

    &:before {
      top: 0;
      left: 0;
      background: $gray-lightest;
      transform-origin: bottom right;
      transform: skewY(5deg);
    }
  }

  &-food {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;

    picture {
      position: absolute;
      width: 120px;

      &:first-child {
        top: -60px;
        left: -60px;
        transform: rotate(15deg);
      }

      &:nth-child(2) {
        top: -80px;
        right: -50px;
      }

      &:nth-child(3) {
        top: -20px;
        right: -70px;
      }

      &:nth-child(4) {
        bottom: -80px;
        right: -40px;
        transform: rotate(-15deg);
      }

      &:nth-child(5) {
        bottom: -40px;
        left: -60px;
      }

      &:nth-child(6) {
        bottom: -80px;
        left: -60px;
      }

      &:nth-child(7) {
        bottom: -120px;
        right: 0px;
        transform: rotate(15deg);
      }

      &:nth-child(8) {
        top: -20px;
        left: -40px;
      }
    }
  }
}

.agenda {
  padding: $space;
  width: 800px;
  max-width: calc(100% - #{$space});
  margin: $space-l auto;
  background: $white;
  font-family: $font-family-sans;
  box-shadow: 8px 8px $black;
  position: relative;
  z-index: 2;

  &-section {
    text-align: center;
    padding: $space-xl 0;
    background: $yellow;
    overflow: hidden;
  }

  &-note {
    font-size: $font-size-s;
    margin-bottom: $space-s;
  }

  &-table {
    text-align: left;
    margin: $space auto $space-l;
    width: 320px;
    max-width: 100%;
    table-layout: fixed;

    &-title {
      font-size: $font-size-l;
      font-weight: $font-weight-l;
    }

    td {
      padding: $space-xs $space-s;

      &:first-child {
        width: 120px;
      }
    }
  }

  &-food {
    position: absolute;
    top: calc(100% - 100px);
    left: 0;
    width: 100%;
    pointer-events: none;
    user-select: none;

    picture {
      img {
        height: 120px;
        position: absolute;
        top: 0;
      }

      &:first-child img {
        left: -60px;
        transform: rotate(15deg);
      }

      &:nth-child(2) img {
        left: 0;
        transform: rotate(-15deg);
      }

      &:nth-child(3) img {
        right: 0;
      }

      &:last-child img {
        right: -60px;
      }

      @include mobile {
        img {
          height: 80px;
        }

        &:first-child img {
          left: -40px;
        }

        &:last-child img {
          right: -40px;
        }
      }
    }

    @include mobile {
      top: calc(100% - 40px);
    }
  }

  &-deco {

    &:before {
      background: $yellow;
      transform-origin: top right;
      transform: skewY(5deg);
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    }

    &-img {
      z-index: 0;
      position: absolute;
      top: 0;
      left: -12vw;
      height: 32vw;

      @include mobile {
        top: 50px;
      }
    }
  }
}


.sponsors {
  &-section {
    margin-top: $space-xl;

    .home-section-title {
      text-align: center;
    }
  }

  &-block {

    &+& {
      margin-top: $space-l;
    }

    .container {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 120px;
        height: 120px;
        top: -60px;
        left: -10px;

        background: {
          position: center;
          size: contain;
          repeat: no-repeat;
        }
      }
    }

    &.--ultimate {

      .container {
        &:before {
          background-image: url('/assets/imgs/home/sponsor-ultimate.png');
          transform: rotate(-10deg);
        }
      }

      .sponsors {

        &-title {
          background: $yellow-light;
          color: $font-color-root;
          overflow: hidden;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -10px;
            width: calc(100% + 20px);
            height: 100%;
            pointer-events: none;
            background: transparentize($white, 0.7);
            animation: shine 2s cubic-bezier(0.42, 0, 0, 0.64) infinite;
          }
        }

        &-item {
          width: 400px;
        }
      }
    }

    &.--gold {

      .container {
        &:before {
          background-image: url('/assets/imgs/home/sponsor-gold.png');
          transform: rotate(10deg);
        }
      }

      .sponsors {
        &-title {
          background: $yellow;
          color: $font-color-root;
        }

        &-item {
          width: 250px;
        }
      }
    }

    &.--silver {

      .container {
        &:before {
          background-image: url('/assets/imgs/home/sponsor-silver.png');
          transform: rotate(-15deg);
        }
      }

      .sponsors {
        &-title {
          background: $gray-lightest;
          color: $font-color-root;
        }

        &-item {
          width: 200px;
        }
      }
    }

    &.--misc {
      .sponsors {
        &-title {
          background: $gray-light;
          color: $font-color-root;
        }

        &-item {
          width: 180px;
        }
      }
    }

    &.--bronze {
      .sponsors {
        &-title {
          background: $gray-dark;
        }

        &-item {
          width: 120px;
        }
      }
    }
  }

  &-title {
    @include one-height(34px, 4px);

    display: inline-block;
    font-weight: bold;
    padding: 0 $space-s;
    background: $gray-darkest;
    color: $white;
    margin-bottom: $space;
    border: 2px solid $black;
    box-shadow: 4px 4px $black;
    font-family: $font-family-sans;
    position: relative;
    z-index: 1;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &-item {
    width: 100px;
    position: relative;

    &+& {
      margin-left: $space-l;
    }

    @include mobile {
      width: 100px;
      margin: $space;

      &+& {
        margin-left: $space;
      }
    }
  }
}

.food {
  &-roti-canai {
    position: absolute;
    width: 24vw;
    left: -8vw;
    top: -8vw;

    @include mobile {
      width: 32vw;
    }
  }

  &-nasi-lemak {
    position: absolute;
    width: 24vw;
    left: -8vw;
    top: -8vw;

    @include mobile {
      width: 32vw;
      top: -24vw;
    }
  }

  &-teh-ais-limau {
    position: absolute;
    width: 24vw;
    right: 0;
    bottom: -24vw;

    @include mobile {
      width: 32vw;
      bottom: -16vw;
    }
  }

  &-teh-tarik {
    position: absolute;
    width: 18vw;
    left: 4vw;
    top: -8vw;
    transform: rotate(-5deg);

    @include mobile {
      width: 26vw;
      top: -20vw;
    }
  }
}