<section class="team-highlight-section" [class.--show]="item?.desc">
  <div class="team-highlight">
    <button class="team-highlight-close" (click)="unselectItem()"></button>
    <div class="container">
      <div class="team-highlight-info-container">
        <div class="team-highlight-info">
          <ul class="team-highlight-speakers-list" *ngIf="item.thumbnails.length > 1">
            <li class="team-highlight-speakers-item" *ngFor="let s of item.thumbnails; trackBy: s.name">
              <!-- <a [routerLink]="s.url" class="team-highlight-speakers-link"> -->
                <figure class="team-highlight-speakers-pic">
                  <picture>
                    <source srcset="{{s.img}}.webp" type="image/webp">
                    <img src="{{s.img}}.jpg" class="team-highlight-speakers-img" [alt]="s.name">
                  </picture>
                </figure>
              <!-- </a> -->
              <div class="team-highlight-speakers-text">
                {{ s.name }}

                <ul class="team-highlight-speakers-misc">
                  <li class="team-highlight-speakers-misc-item" *ngFor="let p of s.links; trackBy: p.type">
                    <a [href]="p.url" target="_blank" rel="noreferrer" class="team-highlight-speakers-misc-link">
                      <i [class]="p.type"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <ng-container *ngIf="item.thumbnails.length === 1">
            <ng-container *ngFor="let s of item.thumbnails; trackBy: s.name">
              <!-- <a [routerLink]="s.url"> -->
                <figure class="team-highlight-pic">
                  <picture>
                      <source srcset="{{s.img}}.webp" type="image/webp">
                      <img src="{{s.img}}.jpg" [alt]="s.name" class="team-highlight-img" />
                    </picture>
                </figure>
              <!-- </a> -->
              <div class="team-highlight-name">
                {{ s.name }}
              </div>
              <ul class="team-highlight-misc">
                <li class="team-highlight-misc-item" *ngFor="let p of s.links; trackBy: p.type">
                  <a [href]="p.url" target="_blank" rel="noreferrer" class="team-highlight-misc-link">
                    <i [class]="p.type"></i>
                  </a>
                </li>
              </ul>
            </ng-container>
          </ng-container>
        </div>
        <div class="team-highlight-description-container">
          <div class="team-highlight-title">{{  item.title }}</div>
          <div class="team-highlight-description article-section" [innerHTML]="item.desc">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>