<main id="team">
  <div class="page-header">
    <div class="container">
      <h1 class="page-title">SPEAKERS</h1>
      <div class="page-description article-section">
        <p>
          Get inspired by our passionate speakers and learn about the latest trends in Angular and frontend web
          technologies.
        </p>
        <p>
          With Angular team members, Google Developer Experts (GDE), Microsoft Most Valuable Professionals (MVP) and
          legendary international speakers onboard, NG-MY 2019 Conference guarantees an excellent program - technically
          in-depth and 100% useful.
        </p>
      </div>
    </div>
  </div>
  <section class="main">
    <div class="container">
      <div class="team-list">
        <div class="team-list-item" *ngFor="let m of speakerList; let i = index">
          <article class="team-card --{{ m.color }}" [class.--selected]="selectedSpeakerId === m.id" (click)="selectSpeaker(m.id)">
            <div class="team-card-profile">
              <figure class="team-card-pic">
                <img src="../../assets/imgs/speakers/{{ m.id }}.jpg" alt="{{ m.name }}" class="team-card-img" />
              </figure>
              <picture class="team-card-food">
                  <source srcset="../../assets/imgs/speaker-food/{{ m.food }}.webp" type='image/webp'>
                  <img src="../../assets/imgs/speaker-food/{{ m.food }}.png" [alt]="m.food">
              </picture>
            </div>
            <div class="team-card-name">{{ m.name }}</div>
            <div class="team-card-desc">{{ m.title }}</div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <my-modal *ngIf="selectedItem" [item]="selectedItem" (unselect)="unselectSpeaker()"></my-modal>
</main>
