.mailing {
  max-width: 300px;

  &-section {
    padding: $space-l 0;
    background: $blue-darkest;
    color: $white;

    h2 {
      padding: $space-s 0;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--yellow {
      background: $yellow;
      color: initial;
    }
  }

  &-item {
    width: 120px;
    position: relative;

    &+& {
      margin-left: $space-l;
    }
  }
}


.footer {
  text-align: center;
  font-size: $font-size-xs;
  background: $blue-darkest;
  color: $white;

  &-lower {
    height: $footer-h;
    line-height: $footer-h;
  }

  &-social {
    padding: $space-s 0;
    font-size: 1rem;

    &-list {
      display: flex;
      justify-content: center;
    }

    &-item {
      &+& {
        margin-left: $space;
      }
    }

    &-link {
      display: block;
      padding: 0 $space-s;
      color: $white;

      @include btn-active {
        color: $yellow;
      }
    }
  }

  &-item {
    display: inline-block;
    position: relative;

    &+& {
      margin-left: $space;

      &:before {
        content: '';
        position: absolute;
        top: calc(50% - 0.5em);
        left: -10px;
        height: 1em;
        width: 1px;
        background: $white;
      }
    }

    a {
      color: $yellow;

      @include btn-active {
        color: $yellow-dark;
      }
    }
  }
}