:root {
  font-size: 16px;
  font-family: $font-family-sans;
  color: $font-color-root;
  --hero-scroll: 0;
}

html,
body {
  background: $white;
}

a {
  text-decoration: none;
  color: $red;
}

p {
  line-height: 1.6;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  padding: 0 $space-xl;
  max-width: 1200px;
  margin: 0 auto;

  @include laptop {
    max-width: 960px;
    padding: 0 $space-xl;
  }

  @include tablet {
    padding: 0 $space-l;
  }

  @include mobile {
    padding: 0 $space;
  }
}

small {
  font-size: 0.8em;
}

.main {
  padding: $space-l 0 $space-xl;

  @include mobile {
    padding-bottom: $space-l;
  }
}

.row {
  display: flex;

  @include mobile {
    flex-direction: column;
  }
}

.col {
  flex-grow: 1;
  flex-basis: 0;

  @include mobile {
    width: 100%;
    flex-basis: 100%;
  }
}

.article {
  &-section {
    &+& {
      margin-top: $space-l;

      @include mobile {
        margin-top: $space;
      }
    }

    p {
      letter-spacing: 0.3px;
    }

    p+p {
      margin-top: $space-s;
    }
  }
}

.page {
  &-header {
    padding: $space 0;

    @include mobile {
      padding: $space-s 0;
    }
  }

  &-title {
    text-align: center;
    margin: 0;
    color: $red;
    font-size: $font-size-xxxl;
    font-weight: bold;
    text-shadow: 0.05em 0.05em $black;
    font-family: $font-family-sans;

    @include mobile {
      font-size: $font-size-xxl;
    }
  }

  &-description {
    margin: $space auto 0;
    text-align: center;
    padding: 0 $space;
  }
}

.section-title {
  text-align: center;
  font-size: $font-size-xxl;

  @include mobile {
    font-size: $font-size-xl;
  }
}

.icon {
  &-left {
    margin-right: $space-s;
  }

  &-right {
    margin-left: $space-s;
  }
}

.text {
  &-primary {
    color: $red;
  }

  &-shadow {
    text-shadow: 0.05em 0.05em $black;
  }

  &-highlight {
    padding: 0 $space-xs;
    background: $yellow;
    font-weight: bold;
    border: 2px solid $black;
    box-shadow: 2px 2px $black;
    margin-left: $space-xs;
  }
}

.mailing {
  max-width: 300px;
  margin: $space-s auto 0;

  &-label {
    font-weight: bold;
  }
}

.notification {
  position: fixed;
  top: $header-h + $space;
  left: $space;
  padding: $space-s $space-l $space-s $space;
  background: $red;
  color: $white;
  border: 2px solid $black;
  box-shadow: 4px 4px $black;
  max-width: calc(100% - #{$space-l});
  z-index: $notification-z;

  &-close {
    border: 0;
    background: none;
    padding: 0;
    position: absolute;
    top: $space-xs;
    right: 0;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 2;
    color: inherit;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 0.8;
    }

    &:before,
    &:after {
      content: '';
      width: 50%;
      height: 3px;
      position: absolute;
      top: calc(50% - 1.5px);
      left: 25%;
      background: currentColor;
    }

    &:after {
      transform: rotate(90deg);
    }
  }
}

.slant {
  position: relative;
  height: 200px;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  @include mobile {
    height: 100px;
  }
}

@import 'components/buttons';
@import 'components/input';

@import 'pages/team';
@import 'pages/post';