:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: $gray-darkest;
  --shadow-opacity: 0;
}

html,
body {
  background: $white;
}

a {
  text-decoration: none;
  color: $red;
}

p {
  line-height: 1.6;
}

.page-title {
  color: $red;
  margin-bottom: $space;
  font-size: $font-size-xxl;
}

.container {
  width: calc(100% - #{$space-xl});
  max-width: 1000px;
  margin: 0 auto;

  @include mobile {
    width: calc(100% - #{$space-l});
  }
}

.main {
  padding: $space 0;
  min-height: calc(100vh - #{$header-h + $footer-h});
}

.row {
  display: flex;

  @include mobile {
    flex-direction: column;
  }
}

.col {
  flex-grow: 1;
  flex-basis: 0;

  @include mobile {
    width: 100%;
  }
}

.article-section {
  &+& {
    margin-top: $space-xl;
  }

  p+p {
    margin-top: $space-s;
  }
}

.ng-logo {
  &-left {
    fill: $ng-red;
  }

  &-right {
    fill: $ng-red-dark;
  }

  &-A {
    fill: $white;
  }
}

.icon {
  &-left {
    margin-right: $space-s;
  }

  &-right {
    margin-left: $space-s;
  }
}

.colors {
  position: fixed;
  z-index: 9999;
  bottom: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $red-lightest;

  box-shadow: 30px 0 $red-light, 60px 0 $red, 90px 0 $red-dark, 120px 0 $red-darkest, 150px 0 $blue-lightest, 180px 0 $blue-light, 210px 0 $blue, 240px 0 $blue-dark, 270px 0 $blue-darkest, 300px 0 $yellow-lightest, 330px 0 $yellow-light, 360px 0 $yellow, 390px 0 $yellow-dark, 420px 0 $yellow-darkest, 450px 0 $gray-lightest, 480px 0 $gray-light, 510px 0 $gray, 540px 0 $gray-dark, 570px 0 $gray-darker;
}

@import 'components/buttons';

@import 'header';
@import 'footer';

@import 'pages/home';