@keyframes logo {

  45%,
  55% {
    perspective-origin: left;
  }

  0%,
  5%,
  95%,
  100% {
    perspective-origin: right -5%;
  }
}

@keyframes shine {

  0%,
  100%,
  25% {
    transform-origin: left;
  }

  25.1%,
  99.99% {
    transform-origin: right;
  }

  0%,
  10%,
  100%,
  50% {
    transform: skewX(-30deg) scaleX(0);
  }

  25% {
    transform: skewX(-30deg) scaleX(1);
  }
}

@keyframes scroll {

  0%,
  100%,
  30%,
  70% {
    transform: none;
  }

  45%,
  55% {
    transform: translateY(#{$scroll-icon-h - 4px});
  }
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.7;
  }

  35% {
    transform: scale(5)
  }

  70% {
    transform: scale(0)
  }

  35%,
  70% {
    opacity: 0;
  }
}