@mixin mobile {
  @media all and (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin mobile-xs {
  @media all and (max-width: $mobile-xs-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media all and (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin laptop {
  @media all and (max-width: $laptop-breakpoint) {
    @content;
  }
}

@mixin one-height($height: 0, $negative: 0, $nowrap: true) {
  height: $height;
  line-height: $height - $negative;

  @if $nowrap==true {
    @include no-text-wrap;
  }
}

@mixin no-text-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin btn-active {
  &:enabled {

    &:hover,
    &:focus,
    &:active {
      @content;
    }
  }
}

@mixin btn-focus {
  &:enabled {

    &:focus,
    &:active {
      @content;
    }
  }
}

@mixin full-size-pseudo {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}