$red: #e00029;

$ng-red: #dd0031;
$ng-red-dark: #c3002f;

$white: #fff;
$black: #0e0e0e;
$grey-darkest: #323232;

$space: 20px;
$space-s: $space / 2;
$space-xs: $space / 4;
$space-l: $space * 2;
$space-xl: $space * 4;

$font-xs: 0.65rem;
$font-s: 0.8rem;
$font-l: 1.2rem;
$font-xl: 1.5rem;
$font-xxl: 2.25rem;
$font-xxxl: 5rem;

$header-h: 60px;
$footer-h: 45px;

$mobile-breakpoint: 600px;