:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --logo-perspective-y: 0;
}

a {
    text-decoration: none;
    color: $red;
}

p {
    line-height: 1.6;
}

.page-title {
    color: $red;
    margin-bottom: $space;
    font-size: $font-xxl;
}

.container {
    width: calc(100% - #{$space-xl});
    max-width: 1000px;
    margin: 0 auto;
}

.main {
    padding: $space 0;
    min-height: calc(100vh - #{$header-h + $footer-h});
}

.article-section {
    & + & {
        margin-top: $space-xl;
    }

    p + p {
        margin-top: $space-s;
    }
}

.header {
    height: $header-h;
    line-height: $header-h;

    &-logo {
        display: flex;
        align-items: center;

        &-img {
            height: 40px;
            width: 40px;
            margin-right: $space-s;
        }
    }
}

.footer {
    text-align: center;
    height: $footer-h;
    line-height: $footer-h;
    font-size: $font-xs;

    &-item {
        display: inline-block;
        position: relative;

        & + & {
            margin-left: $space;

            &:before {
                content: '';
                position: absolute;
                top: calc(50% - 0.5em);
                left: -10px;
                height: 1em;
                width: 1px;
                background: #666;
            }
        }
    }
}