$red: #e00029;

$space: 20px;
$space-s: $space / 2;
$space-xs: $space / 4;
$space-l: $space * 2;
$space-xl: $space * 4;

$font-xs: 0.65rem;
$font-s: 0.8rem;
$font-l: 1.2rem;
$font-xl: 1.5rem;
$font-xxl: 2rem;
$font-xxxl: 2.5rem;

$header-h: 60px;
$footer-h: 45px;