<img src="../../assets/imgs/team/team.jpg" alt="NG-MY team photo" title="NG-MY 2019 team">
<main id="team">
  <div class="page-header">
    <div class="container">
      <h1 class="page-title">CORE TEAM</h1>
      <div class="page-description article-section">
        <p>
          NG-MY would not be possible without the help of its fantastic Core Team.
        </p>
        <p>
          Every Core Team member is always stand-by to help out where needed. If you require special assistance of any
          kind, please don't hesitate to reach out for help. If you notice somebody not following our code of conduct,
          please let us know immediately so we can take appropriate action.
        </p>
      </div>
    </div>
  </div>
  <section class="main">
    <div class="container">
      <div class="team-list">
        <div class="team-list-item" *ngFor="let m of teamMembers; let i = index">
          <article class="team-card --{{ m.gender }}" [class.--selected]="selectedMemberId === m.id" (click)="selectMember(m.id)">
            <div class="team-card-profile">
              <figure class="team-card-pic">
                <img src="../../assets/imgs/team/{{ m.photo.normal }}" alt="{{ m.name }}" class="team-card-img" />
              </figure>
              <picture class="team-card-food">
                  <source srcset="../../assets/imgs/speaker-food/{{ m.food }}.webp" type='image/webp'>
                  <img src="../../assets/imgs/speaker-food/{{ m.food }}.png" [alt]="m.food">
              </picture>
            </div>
            <div class="team-card-name">{{ m.name }}</div>
          </article>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header">
        <div class="container">
          <h2 class="page-title">ORGANIZER</h2>
          <div class="page-description">
            <p>
              NG-MY is organized by Jecelyn Yeen, with the incredible help and support of the entire NG-MY Core Team!
            </p>
          </div>
        </div>
      </div>
      <div class="team-list">
        <div class="team-list-item" *ngFor="let m of organizerMembers;">
          <article class="team-card --{{ m.gender }}" [class.--selected]="selectedMemberId === m.id" (click)="selectMember(m.id)">
            <div class="team-card-profile">
              <figure class="team-card-pic">
                <img src="../../assets/imgs/team/{{ m.photo.normal }}" alt="{{ m.name }}" class="team-card-img" />
              </figure>
              
              <img class="team-card-food" src="../../assets/imgs/speaker-food/{{ m.food }}.png" alt="">
            </div>
            <div class="team-card-name">{{ m.name }}</div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <my-modal *ngIf="selectedItem" [item]="selectedItem" (unselect)="unselectMember()"></my-modal>
  <!-- <section class="team-highlight-section" [class.--show]="selectedMember">
    <div class="team-highlight">
      <button class="team-highlight-close" (click)="unselectMember()"></button>
      <div class="container">
        <div class="team-highlight-info-container">
          <div class="team-highlight-info">
            <figure class="team-highlight-pic">
              <img src="../../assets/imgs/team/{{ selectedMember.photo?.fun || selectedMember.photo?.normal }}" alt=""
                class="team-highlight-img" *ngIf="selectedMember" />
            </figure>
            <div class="team-highlight-name">
              {{ selectedMember?.name }}
            </div>
            <ul class="team-highlight-misc">
              <li class="team-highlight-misc-item">
                <a [href]="selectedMember?.profile?.url" target="_blank" rel="noreferrer" class="team-highlight-misc-link">
                  <i class="{{ profileIconsModel[selectedMember?.profile?.type] }}"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="team-highlight-description-container">
            <div class="team-highlight-description article-section" [innerHTML]="selectedMember?.description">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</main>