<main class="main">
  <article class="container">

    <my-header title="Code of Conduct">
      <p>
        NG-MY is more than just a conference. It's a community!
      </p>
    </my-header>
    <section class="article-section">
      <div class="section">
        <h2 class="section-title">Agreement</h2>
      </div>
      <p><strong class="highlight">NG-MY is for the people.</strong> That's it. We want every single person to
        feel safe and welcome. We want everyone to enjoy this conference to the fullest. To achieve that, we
        have defined a <strong class="highlight">Code of Conduct</strong>, an agreement in which you will take
        an active role whether you know it or not. This agreement is simple: <strong class="highlight">Be kind
          to everyone at all times</strong> regarless of gender, gender identity, age, sexual orientation,
        disability, physical appearance, race, ethnicity, nationality, religion, political views or experience.</p>
    </section>
    <section class="article-section">
      <div class="section">
        <h2 class="section-title">Enforcement</h2>
      </div>
      <p>Breaking this agreement does not take any effort, it takes ignorance, the ignorance of our greatest
        gift: <strong class="highlight">Diversity.</strong></p>
      <p>Avoid any type of harassment, sexual language or imaginery, flirting, political topics, offensive/mean
        jokes or threats. <strong class="highlight">We take violations very seriously</strong> and we reserve
        the right of expelling you from the conference and our community.</p>
    </section>
    <section class="article-section">
      <div class="section">
        <h2 class="section-title">Reporting Violations</h2>
      </div>
      <p>If at some point you feel that this agreement has been violated, if you feel like someone is harassing
        you, please don't think twice, <strong class="highlight">speak up</strong>, not just for you, <strong
          class="highlight">but
          for others</strong> who do not have the courage to do so.</p>
      <p>Different channels will be available during the conference for you to communicate any violation. You are
        safe and we are here for you. 🙂</p>
    </section>
  </article>
</main>