$red-lightest: #FFCAC6;
$red-light: #FF7C71;
$red: #F44436;
$red-dark: #B5170B;
$red-darkest: #510600;

$blue-lightest: #C9C2F1;
$blue-light: #7667C8;
$blue: #4836A9;
$blue-dark: #26177E;
$blue-darkest: #0C0438;

$yellow-lightest: #FFF9C6;
$yellow-light: #FFF071;
$yellow: #F4E036;
$yellow-dark: #B5A30B;
$yellow-darkest: #514800;

$white: #fff;
$black: #232323;

$gray-lightest: #f1f0f6;
$gray-light: #dddce2;
$gray: #9a999b;
$gray-dark: #666468;
$gray-darkest: #403f41;

$font-color-root: $black;
// space for margin or padding
$space: 20px;
$space-s: $space / 2;
$space-xs: $space / 4;
$space-l: $space * 2;
$space-xl: $space * 4;
$space-xxl: $space * 6;

// font-sizes
$font-size-xs: 0.65rem;
$font-size-s: 0.8rem;
$font-size-l: 1.2rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2.75rem;
$font-size-xxxl: 5rem;

$font-weight-l: 900;
$font-family-sans: 'Source Sans Pro',
Arial,
Helvetica,
sans-serif;

// height
$header-h: 60px;
$footer-h: 60px;

$btn-h: 40px;
$btn-mobile-h: 48px;

// breakpoints
$mobile-xs-breakpoint: 350px;
$mobile-breakpoint: 600px;
$tablet-breakpoint: 800px;
$laptop-breakpoint: 1400px;

// z-indexes
$header-z: 1000;
$notification-z: 1100;

// const
// nav item count
$nav-item-count: 6;
$nav-social-count: 5;