<header class="header">
    <div class="container">
        <a href="/" class="header-logo">
            <img width="300" class="header-logo-img" alt="ng-MY" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
            ng-MY
        </a>
    </div>
</header>

<main class="main">
    <article class="container">
        <section class="article-section">
            <h1 class="page-title">Code of Conduct</h1>
            <p><strong class="highlight">ng-MY is for the people.</strong> That's it. We want every single person to
                feel safe and welcome. We want everyone to enjoy this conference to the fullest. To achieve that, we
                have defined a <strong class="highlight">Code of Conduct</strong>, an agreement in which you will take
                an active role whether you know it or not. This agreement is simple: <strong class="highlight">Be kind
                    to everyone at all times</strong> regarless of gender, gender identity, age, sexual orientation,
                disability, physical appearance, race, ethnicity, nationality, religion, political views or experience.</p>
        </section>
        <section class="article-section">
            <h2 class="page-title">Enforcement</h2>
            <p>Breaking this agreement does not take any effort, it takes ignorance, the ignorance of our greatest
                gift: <strong class="highlight">Diversity.</strong></p>
            <p>Avoid any type of harassment, sexual language or imaginery, flirting, political topics, offensive/mean
                jokes or threats. <strong class="highlight">We take violations very seriously</strong> and we reserve
                the right of expelling you from the conference and our community.</p>
        </section>
        <section class="article-section">
            <h2 class="page-title">Reporting Violations</h2>
            <p>If at some point you feel that this agreement has been violated, if you feel like someone is harassing
                you, please don't think twice, <strong class="highlight">speak up</strong>, not just for you, <strong
                    class="highlight">but for others</strong> who do not have the courage to do so.</p>
            <p>Different channels will be available during the conference for you to communicate any violation. You are
                safe and we are here for you. 🙂</p>
        </section>
    </article>
</main>

<footer class="footer">
    <span class="footer-item">ng-MY &copy; 2019</span><span class="footer-item">We adhere to our <a href="/coc">code of
            conduct</a>.</span>
</footer>