@import 'variables';
@import 'mixins';

$ng-red: #dd0031;
$ng-red-dark: #c3002f;

.landing {
  height: 100vh;
  width: 100%;
  background: black;
  background-size: cover;

  &-content {
    padding: 10px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include mobile {
      flex-direction: column;
    }
  }

  &-logo {
    width: 300px;
  }

  &-text {
    margin-left: 20px;

    h1 {
      font-weight: bold;
      font-size: 2.5rem;
    }

    @include mobile {
      text-align: center;
      margin-left: 0;
    }
  }

  &-social {
    display: flex;

    @include mobile {
      justify-content: center;
      text-align: center;
    }

    li {
      padding: 10px;
    }

    li:first-child {
      padding-left: 0;

      @include mobile {
        padding-left: 10px;
      }
    }

    li:after {
      content: "."
    }

    a {
      color: white;
      border-bottom: 1px solid $ng-red;
    }
  }

}

.footer {
  position: absolute;
  background: black;
  width: 100%;
  bottom: 0;

  a {
    color: $ng-red;
  }
}

.ng-logo {
  &-left {
    fill: $ng-red;
  }

  &-right {
    fill: $ng-red-dark;
  }

  &-A {
    fill: $white;
  }
}