.hero {
  &-section {
    min-height: calc(100vh - #{$header-h});
    position: relative;
    display: flex;

    .container {
      display: flex;
      margin: auto;
    }
  }

  &-content {
    margin: auto 0;
    width: 100%;
  }

  &-logo {
    flex: 1;
    width: 100%;
    max-width: 500px;

    &-img {
      height: 100%;
      width: 100%;
    }
  }

  &-text {
    flex: 1;
    display: flex;

    p+p,
    .btn {
      margin-top: $space;

      @include mobile {
        margin-top: $space-s;
      }
    }

    .btn {
      flex-grow: 0;
    }

    &-container {
      margin: auto;
    }

    @include mobile {
      text-align: center;
    }
  }

  &-title,
  &-subtitle {
    font-weight: bold;
  }

  &-title {
    font-size: $font-size-xxxl;

    @include mobile {
      font-size: $font-size-xxl;
    }
  }

  &-subtitle {
    font-size: $font-size-l;
  }
}

.home {
  &-section {
    padding: $space-xl 0;

    .section-title {
      margin-bottom: $space-l;
    }
  }

  &-article {
    &-icon {
      font-size: $font-size-xxl;
      color: $red;
      margin-bottom: $space;
    }

    &-block {
      padding: 0 $space;
      max-width: 450px;
      margin: auto;

      .btn {
        margin-top: $space;
      }

      &.--primary {
        background: $white;
        color: $gray-darkest;
        padding: 5% $space;
        box-shadow: 8px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.stats {
  padding: $space-xl 0;

  &-section {}

  &-arrow {
    position: relative;
    overflow: hidden;
    background: $blue-darkest;

    &:before {
      content: '';
      display: block;
      border-width: 100px 50vw 0;
      border-style: solid;
      border-color: transparent;
      border-top-color: $white;
      position: relative;
      z-index: 1;
    }
  }

  &-block {
    padding: 0 $space;

    &:first-child {
      transform: translateY(-50px);
    }

    &:last-child {
      transform: translateY(50px);
    }
  }

  &-item {
    text-align: center;
    background: $red;
    color: $white;
    padding: 20% 0;
  }

  &-number {
    font-size: $font-size-xxxl;
  }

  &-metrics {
    font-size: $font-size-xxl;
  }
}

.speakers {
  &-section {
    background: $blue-darkest;
    color: $white;
  }

  &-block {}
}

.sponsoring {
  &-section {
    background: $yellow;
  }

  &-block {
    padding: 0 $space;
    max-width: 450px;
    margin: auto;

    .btn {
      margin-top: $space;
    }
  }
}

.sponsors {

  &-block {
    &+& {
      margin-top: $space;
    }

    &.--ultimate {
      .sponsors {
        &-title {
          background: $yellow;
          color: $gray-darkest;
          position: relative;
          overflow: hidden;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -10px;
            width: calc(100% + 20px);
            height: 100%;
            background: transparentize($white, 0.7);
            animation: shine 2s cubic-bezier(0.42, 0, 0, 0.64) infinite;
          }
        }

        &-list {
          justify-content: center;
        }

        &-item {
          width: 500px;
        }
      }
    }
  }

  &-title {
    display: inline-block;
    font-weight: bold;
    padding: $space-s;
    background: $gray-darkest;
    color: $white;
    margin-bottom: $space;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-title {}


  &-item {
    width: 120px;
    position: relative;

    &+& {
      margin-left: $space-l;
    }
  }

  &-img {}
}