.post-page {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;

        @include mobile {
            width: 90%;
        }
    }

    h3 {
        font-size: 1.4rem;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}
