@import 'variables';
@import 'mixins';

.footer {
  position: relative;
  background: $blue-darkest;
  color: $white;
  font-family: $font-family-sans;

  .container {
    position: relative;
    z-index: 1;
  }

  &-intro {
    display: flex;
    align-items: center;
    max-width: 350px;

    &-img {
      width: 120px;
      margin-right: $space;
    }
  }

  &-description {
    letter-spacing: 0.3px;
  }

  &-upper {
    padding: $space-l 0 $space;
    font-size: $font-size-s;
  }

  &-lower {
    height: $footer-h;
    line-height: $footer-h;
    text-align: center;
    font-size: $font-size-xs;
  }

  &-social {
    margin-top: $space;
    padding: $space-s 0;

    &-list {
      display: flex;
      font-size: 1rem;

      @include mobile {
        justify-content: center;
      }
    }

    &-item {
      &+& {
        margin-left: $space;
      }
    }

    &-link {
      display: block;
      padding: 0 $space-s;
      color: $white;

      @include btn-active {
        color: $yellow;
      }
    }
  }

  &-item {
    display: inline-block;
    position: relative;

    &+& {
      margin-left: $space;

      &:before {
        content: '';
        position: absolute;
        top: calc(50% - 0.5em);
        left: -10px;
        height: 1em;
        width: 1px;
        background: $white;
      }
    }

    a {
      color: $yellow;

      @include btn-active {
        color: $yellow-dark;
      }
    }
  }

  &-mailing {
    margin: auto;
    margin-right: 0;
    max-width: 100%;

    &-container {
      display: flex;
      height: 100%;
    }

    &-item {
      width: 120px;
      position: relative;

      &+& {
        margin-left: $space-l;
      }
    }

    @include mobile {
      margin-right: auto;
      text-align: center;

      &-container {
        margin-top: $space;
      }
    }
  }

  &-deco {
    position: relative;
    background: $white;
    width: 100%;
    height: 200px;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $blue-darkest;
      transform-origin: top right;
      transform: skewY(-5deg);
      top: 0;
    }
  }
}