<my-header></my-header>
<main id="home">
  <section class="hero-section">
    <div class="container">
      <div class="hero-content row">
        <div class="hero-logo">
          <img src="../../assets/imgs/logo.svg" alt="">
        </div>
        <article class="hero-text">
          <div class="hero-text-container">
            <h1 class="hero-title">
              <span class="text-primary">
                NG-MY
              </span>
              2019</h1>
            <!-- <p class="hero-subtitle">A 2 day conference in Kuala Lumpur, Malaysia</p> -->
            <p>For the first time ever, the biggest Southeast Asia Angular Conference is taking place at
              <strong class="text-primary">#ngMY2019</strong>.</p>
            <ul class="hero-misc">
              <li class="hero-misc-item">
                <i class="fas fa-calendar-alt icon-left text-primary"></i>July 6th & 7th
              </li>
              <li class="hero-misc-item">
                <i class="fas fa-map-marker-alt icon-left text-primary"></i>Sunway University
              </li>
            </ul>
            <div class="hero-btns">
              <button class="btn btn-secondary" (click)="scrollTo('speakers')">
                <span class="btn-inner">Call for speakers</span>
              </button>
              <button class="btn btn-yellow" (click)="scrollTo('sponsoring')">
                <span class="btn-inner">Call for sponsors</span>
              </button>
            </div>
          </div>
        </article>
      </div>
    </div>
    <button class="hero-scroll" (click)="scrollTo('stats')">
    </button>
  </section>
  <section class="stats-section">
    <div class="container">
      <div class="row stats" [class.--show]="model.shouldShowStats">
        <div class="col stats-block">
          <div class="stats-item" #stats>
            <div class="stats-number">2</div>
            <div class="stats-metrics">days</div>
          </div>
        </div>
        <div class="col stats-block">
          <div class="stats-item">
            <div class="stats-number">16+</div>
            <div class="stats-metrics">speakers</div>
          </div>
        </div>
        <div class="col stats-block">
          <div class="stats-item">
            <div class="stats-number">300+</div>
            <div class="stats-metrics">attendees</div>
          </div>
        </div>
      </div>
    </div>
    <div class="stats-map-bg">
      <img src="../../assets/imgs/sunway-campus.png" alt="">
    </div>
    <div class="stats-map" #map>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.103821654366!2d101.60140624938633!3d3.0669167544992697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4c8f5912644b%3A0x77612fa0225cad69!2sSunway+University!5e0!3m2!1sen!2ssg!4v1549244700195"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </section>
  <section class="home-section speakers-section" #speakers>
    <div class="container speakers-content">
      <h2 class="section-title">We are looking for speakers!</h2>
      <div class="row">
        <div class="col">
          <article class="home-article-block --primary article-section">
            <i class="fas fa-microphone home-article-icon"></i>
            <p>Interested in being a speaker? Be one of the heroes of the day and send us your paper including details and motivations.</p>
            <p>Call for Presenters (CFP) is open till <strong>March 17th</strong>.</p>
            <a routerLink="/form/call-for-presenters" class="btn btn-primary">
              <span class="btn-inner">Speak at NG-MY</span>
            </a>
          </article>
        </div>
        <div class="col">
          <article class="home-article-block article-section">
            <p>We would like to hear from you if you believe that you know someone who should definitely speak at
              <strong>#ngMY2019</strong>.</p>
            <!-- <p>We all know those people who are beyond brilliant. And many times those
              people haven't considered submitting ideas to conferences.</p> -->
            <p>Let us reach out to them!</p>
            <a routerLink="/form/speaker-nomination" class="btn btn-secondary">
              <span class="btn-inner">Nominate a Speaker</span>
            </a>
          </article>
        </div>
      </div>
    </div>
    <div class="speakers-bg">
      <img src="../../assets/imgs/crowd.png" alt="">
    </div>
  </section>
  <section class="home-section sponsoring-section" #sponsoring>
    <div class="container sponsoring-content">
      <h2 class="section-title">Sponsoring the event</h2>
      <div class="row">
        <div class="col">
          <article class="home-article-block --primary article-section">
            <i class="fas fa-money-check home-article-icon"></i>
            <p>We are always looking for companies, organizations and people who are engaged in the community and want to help us to create an awesome and welcoming event.</p>
            <a routerLink="/form/call-for-sponsors" class="btn btn-primary">
              <span class="btn-inner">Become a Sponsor</span>
            </a>
          </article>
        </div>
        <div class="col">
          <article class="home-article-block article-section">
            <p>If you know companies we should reach out to for sponsoring <strong>#ngMY2019</strong>, connect us with them!</p>
            <p>We would like to hear from you.</p>
            <a routerLink="/form/sponsor-connect" class="btn btn-secondary">
              <span class="btn-inner">Connect Us with Sponsor</span>
            </a>
          </article>
        </div>
      </div>
    </div>
    <div class="sponsoring-bg">
      <img src="../../assets/imgs/city.png" alt="">
    </div>
  </section>
  <section class="home-section sponsors-section">
    <div class="container">
      <h2 class="section-title">Our sponsors</h2>
      <div class="sponsors-block --ultimate">
        <h3 class="sponsors-title">Ultimate sponsor</h3>
        <ul class="sponsors-list">
          <li class="sponsors-item" *ngFor="let u of ultimateList">
            <a [href]="u.url" target="_blank" rel="noopener noreferer">
              <img src="{{ '../../assets/imgs/sponsors/' + u.image }}" class="sponsors-img" [alt]="u.name">
            </a>
          </li>
        </ul>
      </div>
      <div class="sponsors-block">
        <h3 class="sponsors-title">Community partners</h3>
        <ul class="sponsors-list">
          <li class="sponsors-item" *ngFor="let c of communityList">
            <a [href]="c.url" target="_blank" rel="noopener noreferer">
              <img src="{{ '../../assets/imgs/sponsors/' + c.image }}" class="sponsors-img" [alt]="c.name">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>

<my-footer></my-footer>

<my-notification [message]="notificationMessage" *ngIf="notificationMessage !== ''"></my-notification>