.team-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -$space;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  &-section {
    .container+.container {
      margin-top: $space-l;
    }
  }

  &-item {
    flex: 1;
    margin: $space-l;
  }

  &-item:nth-child(even) > .team-card {
    background: $red;

    &:hover {
      background: $red-dark;
    }
  }

  &-item:nth-child(odd) > .team-card {
    background: $blue;

    &:hover {
      background: $blue-dark;
    }
  }
}

.team-card {
  width: 200px;
  max-width: 100%;
  margin: auto;
  background: $gray;
  color: $white;
  padding: $space 0;
  box-shadow: 8px 8px $black;
  cursor: pointer;
  transition: background 0.1s ease;
  height: 100%;

  &.--selected {
    background: $yellow;
    color: $black;

    &:hover {
      background: $yellow;
    }
  }

  &-pic {
    margin: 0 auto $space;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid $black;
    background: $gray;
    overflow: hidden;
  }

  &-profile {
    position: relative;
  }

  &-food {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0; // $space-s;
    right: 0; // $space-s;
    z-index: 1;
  }

  &-img {
    object-fit: cover;
    width: 100%;
  }

  &-name {
    text-align: center;
    margin-bottom: $space-s;
    font-weight: bold;
  }

  &-desc {
    text-align: center;
    padding: 0 10px;
    font-size: 0.9rem;
  }
}