.team-highlight {
  height: 400px;
  width: 100%;
  padding: $space-l $space;
  color: $font-color-root;
  background: $yellow;
  box-shadow: 8px 8px $black;
  position: relative;
  margin: auto;

  &:before {
    @include full-size-pseudo;

    background: $yellow;
    transform: skewX(15deg);
    transform-origin: bottom left;
  }

  @include mobile {
    margin: 0;
    height: 100%;
    padding: $space;
  }

  .container {
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  &-section {
    width: 100%;
    height: calc(100% - #{$header-h});
    position: fixed;
    top: $header-h;
    left: 0;
    z-index: $header-z - 1;
    display: flex;
  }

  &-close {
    border: 0;
    background: none;
    padding: 0;
    position: absolute;
    top: $space;
    right: $space;
    width: $btn-h;
    height: $btn-h;
    cursor: pointer;
    z-index: 2;
    transform: rotate(45deg);

    &:focus {
      outline: none;
    }

    &:hover {

      &:before,
      &:after {
        background: $red;
      }
    }

    &:before,
    &:after {
      content: '';
      width: 50%;
      height: 4px;
      position: absolute;
      top: calc(50% - 2px);
      left: 25%;
      background: currentColor;
      transition: background 0.2s ease;
    }

    &:after {
      transform: rotate(90deg);
    }

    @include mobile {
      top: $space-s;
      right: $space-s;
    }
  }

  &-info {
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
    max-width: 100%;
    padding: $space;

    &-container {
      height: 100%;
      display: flex;
      align-items: center;
      max-width: 800px;
      margin: auto;

      @include mobile {
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  &-name {
    @include one-height(25px);

    font-weight: bold;
    text-align: center;
    margin-bottom: $space-s;
  }

  &-pic {
    margin: 0 auto $space-s;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid $black;
    background: $gray;
    overflow: hidden;
  }

  &-img {
    object-fit: cover;
    width: 100%;
  }

  &-misc {
    display: flex;
    justify-content: center;
    height: 35px;

    &-item {
      &+& {
        margin-left: $space;
      }
    }

    &-link {
      color: currentColor;
      font-size: $font-size-xl;
      transition: color 0.2s ease;

      &:hover {
        color: $white;
      }
    }
  }

  &-description {
    flex: 1;
    padding: $space;
    max-height: calc(100% - 50px);
    overflow: auto;

    &-container {
      display: flex;
      flex-direction: column;
      flex: 1;
      max-height: 100%;
    }
  }

  &-title {
    padding: 0 $space;
    font-weight: bold;
  }

  @include mobile {
    &-section {
      padding: $space 0;
    }

    &-info,
    &-description {
      padding: $space-s 0;
    }

    &-title {
      text-align: center;
      min-height: 50px;
    }

    &-pic {
      width: 150px;
      height: 150px;
    }
  }

  &-speakers {
    &-list {
      margin-bottom: $space;
    }

    &-item {
      display: flex;
      align-items: center;

      &+& {
        margin-top: $space;
      }
    }

    &-pic {
      margin-right: $space;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid $black;
      background: $gray;
      overflow: hidden;
    }

    &-img {
      object-fit: cover;
      width: 100%;
    }

    &-link {
      color: $black;
      font-weight: bold;
    }

    &-name {
      flex: 1;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-misc {
      display: flex;

      &-item {
        &+& {
          margin-left: $space-s;
        }
      }

      &-link {
        color: $black;
        transition: color 0.2s ease;

        &:hover {
          color: $white;
        }
      }
    }
  }
}

.team-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -$space;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  &-section {
    .container+.container {
      margin-top: $space-l;
    }
  }

  &-item {
    flex: 1;
    margin: $space-l;
  }
}

.team-card {
  width: 200px;
  max-width: 100%;
  margin: auto;
  background: $gray;
  color: $white;
  padding: $space 0;
  box-shadow: 8px 8px $black;
  cursor: pointer;
  transition: background 0.1s ease;
  height: 100%;

  &.--red,
  &.--boy {
    background: $red;

    &:hover {
      background: $red-dark;
    }
  }

  &.--blue,
  &.--girl {
    background: $blue;

    &:hover {
      background: $blue-dark;
    }
  }

  &.--selected {
    background: $yellow;
    color: $black;

    &:hover {
      background: $yellow;
    }
  }

  &-pic {
    margin: 0 auto $space;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid $black;
    background: $gray;
    overflow: hidden;
  }

  &-profile {
    position: relative;
  }

  &-food {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0; // $space-s;
    right: 0; // $space-s;
    z-index: 1;
  }

  &-img {
    object-fit: cover;
    width: 100%;
  }

  &-name {
    text-align: center;
    margin-bottom: $space-s;
    font-weight: bold;
  }

  &-desc {
    text-align: center;
    padding: 0 10px;
    font-size: 0.9rem;
  }
}