@import 'variables';
@import 'mixins';

.main {
  position: relative;
  margin-top: -$header-h;
  padding-top: $space-l + $header-h;
  background: $gray-lightest;
  padding-bottom: 200px + $space-xl;
  margin-bottom: -200px;
  max-width: 100%;
  overflow: hidden;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &-deco {
    background: $yellow;
    height: 50vmin;
    width: 100%;
    position: absolute;
    top: 50vmin;
    left: 0;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background: $yellow;
    }

    &:before {
      top: 0;
      transform-origin: bottom right;
      transform: skewY(5deg);
    }

    &:after {
      bottom: 0;
      transform-origin: top right;
      transform: skewY(-5deg);
    }
  }
}

.food {
  &-container {
    width: 1000px;
    max-width: calc(100% - #{$space});
    background: $white;
    border: 3px solid black;
    box-shadow: 8px 8px $black;
    padding-top: $space-l;
    padding-bottom: $space-l;
    position: relative;
    z-index: 1;

    &+& {
      margin-top: $space-xl;
    }
  }

  &-list {
    margin-top: $space;
    padding: $space-l;

    @include mobile {
      padding: $space;
    }

    &-section {
      &+& {
        margin-top: $space-xl;
      }

      @include mobile {
        &+& {
          margin-top: $space-l;
        }
      }
    }

    .row {
      margin: 0 -$space;
    }

    .col {
      padding: $space;
    }

    &-title {
      font-size: $font-size-xxl;
      font-weight: $font-weight-l;
      text-align: center;
      position: relative;
      margin: 0 auto $space-xl;

      @include mobile {
        font-size: $font-size-xl;
        margin-bottom: $space-l;
      }

      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: calc(50% - 100px);
        height: 20px;
        width: 200px;
        background: url('/assets/imgs/home/red-pattern.svg') left/contain repeat-x;
      }
    }
  }

  &-group {
    &+& {
      margin-top: $space-l;
    }

    &-title {
      font-size: $font-size-xl;
      font-weight: bold;
      text-transform: uppercase;

      @include mobile {
        font-size: $font-size-l;
      }
    }

    &-list {
      margin-top: $space;
    }

    &-item {
      &+& {
        margin-top: $space-s;
      }

      small {
        color: $gray;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        display: block;
        font-size: $font-size-xs;
      }
    }
  }
}

.deco {
  position: absolute;
  left: 0;
  width: 100%;

  picture {
    position: absolute;
    width: 140px;
    height: 140px;
  }
}

.deco-bottom {
  bottom: 0;

  picture {
    &:first-child {
      top: calc(50% - 90px);
      left: -70px;
      transform: rotate(15deg);
      z-index: 1;
    }

    &:nth-child(2) {
      top: calc(50% - 70px);
      left: 0;
      transform: rotate(-5deg);
    }

    &:nth-child(3) {
      top: calc(50% - 90px);
      right: -70px;
      transform: rotate(15deg);
    }

    &:nth-child(4) {
      top: calc(50% - 70px);
      right: 0;
      transform: rotate(-5deg);
    }
  }

  @include mobile {

    picture {
      &:first-child {
        top: calc(50% - 70px);
      }

      &:nth-child(2) {
        top: calc(50% - 50px);
      }

      &:nth-child(3) {
        top: calc(50% - 70px);
      }

      &:nth-child(4) {
        top: calc(50% - 50px);
      }
    }
  }
}