<main class="main">
  <my-header title="Food Menu">
    <p>NG-MY is not just about the Angular talks but also delicious Malaysian food!</p>
  </my-header>

  <!-- <div class="background">
    <div class="background-deco"></div>
    <picture class="food-nasi-lemak">
      <source media="(max-width: 800px)" srcset="./../assets/imgs/home/nasilemak-800w.webp" type="image/webp">
      <source srcset="../../assets/imgs/home/nasilemak.webp" type="image/webp">
      <img src="../../assets/imgs/home/nasilemak.png" alt="mamak">
    </picture>
    <picture class="food-teh-ais-limau">
      <source media="(max-width: 800px)" srcset="./../assets/imgs/home/tehaislimau-800w.webp" type="image/webp">
      <source srcset="../../assets/imgs/home/tehaislimau.webp" type="image/webp">
      <img src="../../assets/imgs/home/tehaislimau.png" alt="mamak">
    </picture>
    <picture class="food-teh-tarik">
      <source media="(max-width: 800px)" srcset="./../assets/imgs/home/tehtarik-800w.webp" type="image/webp">
      <source srcset="../../assets/imgs/home/tehtarik.webp" type="image/webp">
      <img src="../../assets/imgs/home/tehtarik.png" alt="mamak">
    </picture>
    <div class="food-mini">
      <picture>
        <source srcset="../../assets/imgs/speaker-food/bandung.webp" type="image/webp">
        <img src="../../assets/imgs/speaker-food/bandung.png" alt="mamak">
      </picture>
      <picture>
        <source srcset="../../assets/imgs/speaker-food/kopi-o.webp" type="image/webp">
        <img src="../../assets/imgs/speaker-food/kopi-o.png" alt="mamak">
      </picture>
      <picture>
        <source media="(max-width: 800px)" srcset="./../assets/imgs/home/roti-canai-800w.webp" type="image/webp">
        <source srcset="../../assets/imgs/speaker-food/roti-canai.webp" type="image/webp">
        <img src="../../assets/imgs/speaker-food/roti-canai.png" alt="mamak">
      </picture>
      <picture>
        <source srcset="../../assets/imgs/speaker-food/tosai.webp" type="image/webp">
        <img src="../../assets/imgs/speaker-food/tosai.png" alt="mamak">
      </picture>
      <picture>
        <source srcset="../../assets/imgs/speaker-food/nasi-lemak.webp" type="image/webp">
        <img src="../../assets/imgs/speaker-food/bandung.png" alt="mamak">
      </picture>
      <picture>
        <source srcset="../../assets/imgs/speaker-food/cendol.webp" type="image/webp">
        <img src="../../assets/imgs/speaker-food/cendol.png" alt="mamak">
      </picture>
      <picture>
        <source srcset="../../assets/imgs/speaker-food/curry-pup.webp" type="image/webp">
        <img src="../../assets/imgs/speaker-food/curry-pup.png" alt="mamak">
      </picture>
      <picture>
        <source srcset="../../assets/imgs/speaker-food/ikat-semua.webp" type="image/webp">
        <img src="../../assets/imgs/speaker-food/ikat-semua.png" alt="mamak">
      </picture>
    </div>
  </div> -->

  <div class="container food-container" [@switchAnim]="state" (@switchAnim.done)="handleSwitch($event)">
    <div class="tab-list">
      <button class="btn tab" (click)="switchDay()" [class.--selected]="day === 1">
        <span class="btn-inner">
          DAY 1
        </span>
      </button>
      <button class="btn tab" (click)="switchDay()" [class.--selected]="day === 2">
        <span class="btn-inner">
          DAY 2
        </span>
      </button>
    </div>
    <article class="food-list" *ngIf="day === 1">
      <section class="food-list-section">
        <h3 class="food-list-title">BREAKFAST</h3>
        <div class="row">
          <div class="col">
            <article class="food-group">
              <h4 class="food-group-title">
                Malaysian
              </h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Nasi Lemak <small>Malay fragrant rice</small>
                </li>
                <li class="food-group-item">
                  Mee Siam <small>Thai style vermicelli, spicy</small>
                </li>
                <li class="food-group-item">
                  Mee Hoon Goreng <small>Fried vermicelli</small>
                </li>
                <li class="food-group-item">
                  Mee Goreng <small>Fried yellow noodle</small>
                </li>
              </ul>
            </article>
          </div>
          <div class="col">
            <article class="food-group">
              <h4 class="food-group-title">
                Vegetarian
              </h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Mee Goreng <small>Fried yellow noodle</small>
                </li>
                <li class="food-group-item">
                  Mee Hoon Goreng <small>Fried vermicelli</small>
                </li>
              </ul>
            </article>
            <article class="food-group">
              <h4 class="food-group-title">
                Dessert Soups
              </h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Red Dates, Snow Fungus, Peach Gum
                </li>
                <li class="food-group-item">
                  Green Bean
                </li>
              </ul>
            </article>
          </div>
        </div>
      </section>
      <section class="food-list-section">
        <h3 class="food-list-title">LUNCH</h3>
        <div class="row">
          <div class="col">
            <article class="food-group">
              <h4 class="food-group-title">
                Malaysian
              </h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Nasi Kerabu Ayam Percik <small>Blue-colored herbs rice with chicken</small>
                </li>
                <li class="food-group-item">
                  Nasi Dagang Ayam Gulai <small>Coconut milk steam rice with curry chicken</small>
                </li>
                <li class="food-group-item">
                  Nasi Ulam Ikan Kembung <small>Mixed herbs rice with chub mackerels fish</small>
                </li>
              </ul>
            </article>
            <article class="food-group">
              <h4 class="food-group-title">
                Vegetarian
              </h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Burger Portabello
                </li>
                <li class="food-group-item">
                  Tofu Poke Bowl
                </li>
                <li class="food-group-item">
                  Vegetable Naan
                </li>
                <li class="food-group-item">
                  Vegetable Biryani
                </li>
              </ul>
            </article>
          </div>
          <div class="col">
            <article class="food-group">
              <h4 class="food-group-title">
                Western
              </h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Burger Turkeynizer <small>Chicken</small>
                </li>
                <li class="food-group-item">
                  Burger Beaconizer <small>Beef</small>
                </li>
              </ul>
            </article>
            <article class="food-group">
              <h4 class="food-group-title">
                Indian
              </h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Ayam Biryani <small>Biryani rice with chicken</small>
                </li>
                <li class="food-group-item">
                  Ayam Tandoori Naan <small>Flatbread with tandoori chicken</small>
                </li>
                <li class="food-group-item">
                  Kambing Biryani <small>Biryani rice with mutton</small>
                </li>
              </ul>
            </article>
            <article class="food-group">
              <h4 class="food-group-title">
                Fusion
              </h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Honey Chicken Poke Bowl
                </li>
                <li class="food-group-item">
                  Shoyu Salmon Poke Bowl
                </li>
              </ul>
            </article>
            <article class="food-group">
              <h4 class="food-group-title">
                Drinks
              </h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Fragrance Coconut
                </li>
                <li class="food-group-item">
                  Various Boba Tea & Tea
                </li>
                <li class="food-group-item">
                  Tea & Coffee
                </li>
              </ul>
            </article>
          </div>
        </div>
      </section>
      <section class="food-list-section">
        <h3 class="food-list-title">TEATIME</h3>
        <div class="row">
          <div class="col">
            <article class="food-group">
              <h4 class="food-group-title">
                Handmade Specialties
              </h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Nyonya Kuih & Pastries
                </li>
                <li class="food-group-item">
                  Tea & Coffee
                </li>
              </ul>
            </article>
          </div>
        </div>
      </section>
    </article>

    <article class="food-list" *ngIf="day === 2">
      <section class="food-list-section">
        <h3 class="food-list-title">BREAKFAST</h3>
        <div class="row">
          <div class="col">
            <article class="food-group">
              <h4 class="food-group-title">Malaysian</h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Nasi Lemak <small>Malay fragrant rice</small>
                </li>
                <li class="food-group-item">
                  Mee Siam <small>Thai style vermicelli, spicy</small>
                </li>
                <li class="food-group-item">
                  Mee Hoon Goreng <small>Fried vermicelli</small>
                </li>
                <li class="food-group-item">
                  Mee Goreng <small>Fried yellow noodle</small>
                </li>
              </ul>
            </article>
          </div>
          <div class="col">
            <article class="food-group">
              <h4 class="food-group-title">Vegetarian</h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Mee Goreng <small>Fried yellow noodle</small>
                </li>
                <li class="food-group-item">
                  Mee Hoon Goreng <small>Fried vermicelli</small>
                </li>
              </ul>
            </article>
            <article class="food-group">
              <h4 class="food-group-title">Dessert Soups</h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Bubur Cha Cha <small>Yam, Sweet Potatoes</small>
                </li>
                <li class="food-group-item">
                  Dried Beancurb, Sweet Barley, Ginko Nuts
                </li>
              </ul>
            </article>
          </div>
        </div>
      </section>
      <section class="food-list-section">
        <h3 class="food-list-title">LUNCH</h3>
        <div class="row">
          <div class="col">
            <article class="food-group">
              <h4 class="food-group-title">Malaysian</h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Nasi Kerabu Ayam Percik <small>Blue-colored herbs rice with chicken</small>
                </li>
                <li class="food-group-item">
                  Nasi Kukus Ayam Berempah <small>Steam rice with gravy chicken</small>
                </li>
                <li class="food-group-item">
                  Nasi Dagang Ikan Tongkol <small>Coconut milk steam rice with curry mackerel tuna fish</small>
                </li>
              </ul>
            </article>
            <article class="food-group">
              <h4 class="food-group-title">Vegetarian</h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Burger Portabello
                </li>
                <li class="food-group-item">
                  Tofu Poke Bowl
                </li>
                <li class="food-group-item">
                  Vegetable Naan
                </li>
                <li class="food-group-item">
                  Vegetable Biryani
                </li>
              </ul>
            </article>
          </div>
          <div class="col">
            <article class="food-group">
              <h4 class="food-group-title">Western</h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Burger Ayam Cajun Cheese <small>Chicken</small>
                </li>
                <li class="food-group-item">
                  Burger Smokynizer <small>Beef</small>
                </li>
              </ul>
            </article>
            <article class="food-group">
              <h4 class="food-group-title">Indian</h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Ayam Biryani <small>Biryani rice with chicken</small>
                </li>
                <li class="food-group-item">
                  Ayam Tandoori Naan <small>Flatbread with tandoori chicken</small>
                </li>
                <li class="food-group-item">
                  Kambing Biryani <small>Biryani rice with mutton</small>
                </li>
              </ul>
            </article>
            <article class="food-group">
              <h4 class="food-group-title">Fusion</h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Honey Chicken Poke Bowl
                </li>
                <li class="food-group-item">
                  Shoyu Tuna Poke Bowl
                </li>
              </ul>
            </article>
            <article class="food-group">
              <h4 class="food-group-title">Drinks</h4>
              <ul class="food-group-list">
                <li class="food-group-item">
                  Cendol <small>Green rice flour jelly, coconut milk and palm sugar syrup</small>
                </li>
                <li class="food-group-item">
                  Honey Lemon
                </li>
                <li class="food-group-item">
                  Calamansi <small>Sour plum juice</small>
                </li>
              </ul>
            </article>
          </div>
        </div>
      </section>
      <section class="food-list-section">
        <h3 class="food-list-title">LUNCH SPECIAL</h3>
        <div class="row --special">
          <div class="col">
            <h4 class="food-group-title">Kajang Satay</h4>
            <ul class="food-group-list">
              <li class="food-group-item">Satay Ayam <small>Chicken skewer</small></li>
              <li class="food-group-item">Stay Daging <small>Beef skewer</small></li>
              <li class="food-group-item">Satay Perut <small>Beef brisket skewer</small></li>
            </ul>
          </div>
        </div>
      </section>
    </article>
  </div>
</main>