<main class="main">
  <my-header title="Food Menu">
  </my-header>
  <article class="container food-container">
    <h3>Day 1</h3>
    <section class="article-section">
      <div class="section">
        <h2 class="section-title">Breakfast</h2>
      </div>
      <div class="sub-section">
        <h4>Malaysian</h4>
        <ul>
          <li>Nasi Lemak (Malay fragrant rice)</li>
          <li>Mee Siam (Thai style vermicelli, spicy)</li>
          <li>Mee Hoon Goreng (Fried vermicelli)</li>
          <li>Mee Goreng (Friend yellow noodle)</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Vegetarian</h4>
        <ul>
          <li>Mee Goreng (Friend yellow noodle)</li>
          <li>Mee Hoon Goreng (Fried vermicelli)</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Sweet Soups</h4>
        <ul>
          <li>Red Dates, Snow Fungus, Peach Gum</li>
          <li>Green Bean</li>
        </ul>
      </div>
    </section>
    <section class="article-section">
      <div class="section">
        <h2 class="section-title">Lunch</h2>
      </div>
      <div class="sub-section">
        <h4>Malaysian</h4>
        <ul>
          <li>Nasi Kerabu Ayam Percik (Blue-colored herbs rice with chicken)</li>
          <li>Nasi Dagang Ayam Gulai (Coconut milk steam rice with curry chicken)</li>
          <li>Nasi Ulam Ikan Kembung (Mixed herbs rice with chub mackerels fish)</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Western</h4>
        <ul>
          <li>Burger Turkeynizer (Chicken)</li>
          <li>Burger Beaconizer (Beef)</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Indian</h4>
        <ul>
          <li>Ayam Biryani (Biryani rice with chicken)</li>
          <li>Ayam Tandoori Naan (Flatbread with tandoori chicken)</li>
          <li>Kambing Biryani (Biryani rice with mutton)</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Fusion</h4>
        <ul>
          <li>Honey Chicken Poke Bowl</li>
          <li>Shoyu Salmon Poke Bowl</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Vegetarian</h4>
        <ul>
          <li>Burger Portabello</li>
          <li>Tofu Poke Bowl</li>
          <li>Vegetable Naan</li>
          <li>Vegetable Biryani</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Drinks</h4>
        <ul>
          <li>Fragrance Coconut</li>
          <li>Various Boba Tea & Tea</li>
        </ul>
      </div>
    </section>
    <section class="article-section">
      <div class="section">
        <h2 class="section-title">Teatime</h2>
      </div>
      <div class="sub-section">
        <h4>Handmade Malaysian Specialties</h4>
        <ul>
          <li>Nyonya Kuih & Pastries</li>
          <li>Tea & Coffee</li>
        </ul>
      </div>
    </section>
  </article>
  <div class="food-section">
    <div class="food container">
      <picture>
        <source srcset="../../../assets/imgs/home/tehtarik.webp" type='image/webp'>
        <img src="../../../assets/imgs/home/tehtarik.png" alt="mamak">
      </picture>
      <picture>
        <source srcset="../../../assets/imgs/home/aiskacang.webp" type='image/webp'>
        <img src="../../../assets/imgs/home/aiskacang.png" alt="mamak">
      </picture>
      <picture>
        <source srcset="../../../assets/imgs/home/nasilemak.webp" type='image/webp'>
        <img src="../../../assets/imgs/home/nasilemak.png" alt="mamak">
      </picture>
      <picture>
        <source srcset="../../../assets/imgs/home/tehaislimau.webp" type='image/webp'>
        <img src="../../../assets/imgs/home/tehaislimau.png" alt="mamak">
      </picture>
    </div>
  </div>
  <article class="container food-container">
    <h3>Day 2</h3>
    <section class="article-section">
      <div class="section">
        <h2 class="section-title">Breakfast</h2>
      </div>
      <div class="sub-section">
        <h4>Malaysian</h4>
        <ul>
          <li>Nasi Lemak (Malay fragrant rice)</li>
          <li>Mee Siam (Thai style vermicelli, spicy)</li>
          <li>Mee Hoon Goreng (Fried vermicelli)</li>
          <li>Mee Goreng (Friend yellow noodle)</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Vegetarian</h4>
        <ul>
          <li>Mee Goreng (Friend yellow noodle)</li>
          <li>Mee Hoon Goreng (Fried vermicelli)</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Sweet Soups</h4>
        <ul>
          <li>Bubur Cha Cha (Yam, Sweet Potatoes)</li>
          <li>Dried Beancurb, Sweet Barley, Ginko Nuts</li>
        </ul>
      </div>
    </section>
    <section class="article-section">
      <div class="section">
        <h2 class="section-title">Lunch</h2>
      </div>
      <div class="sub-section">
        <h4>Malaysian</h4>
        <ul>
          <li>Nasi Kerabu Ayam Percik (Blue-colored herbs rice with chicken)</li>
          <li>Nasi Kukus Ayam Berempah (Steam rice with gravy chicken)</li>
          <li>Nasi Dagang Ikan Tongkol (Coconut milk steam rice with curry mackerel tuna fish)</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Western</h4>
        <ul>
          <li>Burger Ayam Cajun Cheese (Chicken)</li>
          <li>Burger Smokynizer (Beef)</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Indian</h4>
        <ul>
          <li>Ayam Biryani (Biryani rice with chicken)</li>
          <li>Ayam Tandoori Naan (Flatbread with tandoori chicken)</li>
          <li>Kambing Biryani (Biryani rice with mutton)</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Fusion</h4>
        <ul>
          <li>Honey Chicken Poke Bowl</li>
          <li>Shoyu Tuna Poke Bowl</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Vegetarian</h4>
        <ul>
          <li>Burger Portabello</li>
          <li>Tofu Poke Bowl</li>
          <li>Vegetable Naan</li>
          <li>Vegetable Biryani</li>
        </ul>
      </div>
      <div class="sub-section">
        <h4>Drinks</h4>
        <ul>
          <li>Cendol (Green rice flour jelly, coconut milk and palm sugar syrup)</li>
          <li>Honey Lemon</li>
          <li>Calamansi (Sour plum juice)</li>
        </ul>
      </div>
    </section>
    <section class="article-section">
      <div class="section">
        <h2 class="section-title">Lunch Special</h2>
      </div>
      <div class="sub-section">
        <h4>Kajang Satay</h4>
        <ul>
          <li>Satay Ayam (Chicken skewer)</li>
          <li>Stay Daging (Beef skewer)</li>
          <li>Satay Perut (Beef brisket skewer)</li>
        </ul>
      </div>
    </section>
  </article>
</main>