@import 'variables';
@import 'mixins';

.session-date {
    &-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    &-btn {
        font-size: 24px;
        margin: 0 0 0 36px;
    }
}

.session{

    &-item {
        margin: 0 0 50px 0;
    }

    &-item-col {
        margin-right: 20px;
        width: 100%;

        .session-speaker {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .speaker-pic {
            margin-right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #9a999b;
            overflow: hidden;
            &-img {
                object-fit: cover;
                width: 100%;
                max-width: 100%;
            }
        }
        .speaker-name {
            font-weight: bold;
            margin-bottom: 15px;
        }
        
        .session-topic {
            font-weight: bold;
            margin-bottom: 15px;

        }

        .session-desc {
            overflow-y: hidden;
            height: 80px;
        }

        &:last-child {
            margin-right: 0px;
        }
    } 
}