<my-header></my-header>
<main id="team">
  <section class="team-highlight-section" *ngIf="selectedMember">
    <button class="team-highlight-close" (click)="unselectMember()"></button>
    <div class="container">
      <div class="team-highlight-info-container">
        <div class="team-highlight-info">
          <figure class="team-highlight-pic">
            <img src="../../assets/imgs/team/{{ selectedMember.photo.fun || selectedMember.photo.normal }}" alt=""
              class="team-highlight-img" />
          </figure>
          <div class="team-highlight-name">
            {{ selectedMember.name }}
          </div>
          <ul class="team-highlight-misc">
            <li class="team-highlight-misc-item">
              <a [href]="selectedMember.profile.url" class="team-highlight-misc-link">
                <i class="{{ profileIconsModel[selectedMember.profile.type] }}"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-highlight-description article-section" [innerHTML]="selectedMember.description">
        </div>
      </div>
    </div>
  </section>

  <div class="page-header">
    <h1 class="page-title">NG-MY TEAM</h1>
  </div>
  <section class="team-list-section">
    <div class="container">
      <div class="team-list">
        <div class="team-list-item" *ngFor="let m of memberList">
          <article class="team-card --{{ m.gender }}" [class.--selected]="selectedMemberId === m.id" (click)="selectMember(m.id)">
            <figure class="team-card-pic">
              <img src="../../assets/imgs/team/{{ m.photo.normal }}" alt="{{ m.name }}" class="team-card-img" />
            </figure>
            <div class="team-card-name">{{ m.name }}</div>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
<my-footer></my-footer>